/* Coding exercise 1 */
#padding-box{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#shorthand-padding{
   padding: 10px 20px 10px 20px; 
}

#border-box{
    border-width: 5px 5px 5px 10px;
    border-style: solid;
    border-color: black black black red;
}

#margin-box{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin: 20px 30px;
}



/* Coding exercise 2 */
.block-div{
    display: block;
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 20px;
}

.inline-div{
    display: inline;
    background-color: green;
    color: white;
    padding: 10px;
    margin: 20px;
}

.inline-block-div{
    display: inline-block;
    background-color: red;
    width: 50%;
    color: white;
    padding: 10px;
    margin: 20px;
}


/* Coding exercise 3 */
.rounded-div{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: blue;
    padding: 20px;
    margin: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 50px;
}

.shorthand-rounded-div{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: green;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}